alias vi=vim
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

export LANG='zh_CN.UTF-8'
export Lc_ALL='zh_CN.UTF-8'
[ "N$BASH_VERSION" != "N" ] && export PS1='[\u \W]\$ '
[ "N$ZSH_VERSION" != "N" ] && export PS1='%{$fg_bold[green]%}%p%n${ret_status}%m %{$fg[cyan]%}%c$(git_prompt_info)%{$fg_bold[green]%} %#%{$reset_color%} '

alias esql='mysql -uroot -proot meiya -Bse '

[ "N$MACHTYPE" != "N" ] && alias updatedb=' /usr/libexec/locate.updatedb'

function lpush()
{
    local new_cwd
    local has_sub_git=0

    [ $# = 0 ] && new_cwd='.' || new_cwd=$1
    cd $new_cwd || return 1
    [ ! -d .git ] && echo "Not a git repository!" && cd - &> /dev/null && return 1
    for dir in `ls`
    do
        if [ -d $dir ]; then
            while :
            do
                if [ -d $dir/.git ]; then
                    has_sub_git=1
                    rm -rf $dir/.gitbak
                    mv $dir/.git $dir/.gitbak
                    [ $? != 0 ] && echo "failed to mv $dir/.git $dir/.gitbak" && break
                    git add .
                    git commit -m 'leptune'
                    git push origin master
                    mv $dir/.gitbak $dir/.git
                    git commit -am 'leptune' &> /dev/null
                    [ $? != 0 ] && echo "failed to mv $dir/.gitbak $dir/.git" && break
                fi
                break
            done
            [ -d $dir/.gitbak ] && mv $dir/.gitbak $dir/.git && echo "mv $dir/.gitbak $dir/.git" && has_sub_git=1 && (git commit -am 'leptune' &> /dev/null)
        fi
    done
    [ $has_sub_git = 0 ] && echo "there is no git subdir!" || echo "lpush success!"
    cd - &> /dev/null
    return 0
}
